!!!
%html
  %head
    %title= title
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    %div.innerwrapper
      %div.header
        %h1.logo
          = link_to"<span class=\"white\">fortæl</span><span class=\"blue\">din</span><span class=\"white\">historie</span>".html_safe, root_url
        %nav.main
          %ul
            %li
              %a
                =link_to "menu1", "#"
            %li        
              %a       
                =link_to "menu1", "#"
            %li        
              %a      
                =link_to "menu1", "#"
            %li        
              %a       
                =link_to "menu1", "#"
            %li        
              %a       
                =link_to "menu1", "#"
            
      %div.clear &nbsp;
      
      %span.tag.green       Svigtet
      %span.tag.orange      Svigtet
      %span.tag.redorange   Svigtet
      %span.tag.darkblue    Svigtet
      %span.tag.darkgreen   Svigtet
      %span.tag.purple      Svigtet
      %span.tag.lightbrown  Svigtet
      
      
      
    %div.splitter
      
    %div.innerwrapper
      %div.content
        = yield